<?xml version="1.0" encoding="UTF-8"?>    
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qingsong.qs.mapper.IndexMapper">
	<!--设置domain类和数据库中表的字段一一对应，注意数据库字段和domain类中的字段名称不致，此处一定要！ -->
	<resultMap id="indexMapper" type="com.qingsong.qs.dto.IndexVo">
		<id column="id" property="id" />
		<result column="number" property="number" />
		<result column="content" property="content" />
	</resultMap>

	<!-- 查询单条记录 -->
	<select id="getIndexVoList" resultMap="indexMapper">
		SELECT
		id,
		`number`,
		content
		FROM `index`
	</select>
	
	<select id="getIndexDataById" parameterType="java.lang.Integer" resultMap="indexMapper">
		SELECT
		id,
		`number`,
		content
		FROM `index`
		WHERE
		id = #{id}
	</select>

	<update id="updateIndex" parameterType="com.qingsong.qs.dto.IndexVo">
		UPDATE
		`index`
		SET
		`number` = #{number},
		`content` = #{content}
		WHERE `id` = #{id}
	</update>
	
</mapper>